body {
  background-color: antiquewhite;

}

.style--for--container{
  margin-top: 50px;
  margin-bottom: 50px;
}

.serch--wrapper{
  display: flex;
  gap: 10px;
  background: #343a40;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}
